
<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>


<h3>Edit <%=beast.name%></h3>

<form method="POST" action="/wren/blog/<%= beast.id%>?_method=PUT">
	<input type="text" name="name" value="<%=beast.name%>">
	<input type="text" name="location" value="<%=beast.location%>">
	<input type="textarea" name="description" value="<%=beast.description%>">
	Update picture?<input type="text" name="img" value="<%=beast.img%>">
	Dispatched? <input type="checkbox" name="dispatched"
	<% if (beast.dispatched) { %>
	checked
	<% } %>
	>
	<br>
	<br>
	<input type="submit" value="Save Changes" class="btn btn-outline-success">
</form>

<%- include('./partials/footer.ejs') %>