<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<h3><%= beast.name %></h3>
<img class="blog-img" src="<%= beast.img%>">
<div class="blog-blurb">
	<p>Location: <%= beast.location%></p>
	<p><%= beast.description%></p>
</div>
<a href="/wren/blog"><button class="btn btn-info back-btn">Back to Blog Listings</button></a>
<a href="/wren/blog/<%=beast.id%>/edit"><button class="btn btn-warning edit-btn">Edit Post</button></a>
<form method='POST' action="/wren/blog/<%=beast.id%>/?_method=DELETE">
	<button class="btn btn-danger delete-btn">Delete post</button>
</form>

<%- include('./partials/footer.ejs') %>
